@page "/organization-profile"
@attribute [Authorize]
@using ImpactSpace.Core.Localization
@using ImpactSpace.Core.Organizations
@using Microsoft.AspNetCore.Components
@using Volo.Abp.AspNetCore.Components.Web
@using ImpactSpace.Core.Common
@inject AbpBlazorMessageLocalizerHelper<CoreResource> LH
@inject IOrganizationProfileAppService OrganizationProfileAppService
@inherits CoreComponentBase

<PageTitle>@L["OrganizationProfile"]</PageTitle>

<Validations @ref="OrganizationProfileValidations" Model="@OrganizationProfileDto" ValidateOnLoad="false">
    <Validation MessageLocalizer="@LH.Localize">
        <Field>
            <FieldLabel>@L["MissionStatement"]</FieldLabel>
            <TextEdit @bind-Text="@OrganizationProfileDto.MissionStatement" >
                <Feedback>
                    <ValidationError />
                </Feedback>
            </TextEdit>
        </Field>
    </Validation>

    <Validation MessageLocalizer="@LH.Localize">
        <Field>
            <FieldLabel>@L["Website"]</FieldLabel>
            <TextEdit @bind-Text="@OrganizationProfileDto.Website" Role="@TextRole.Url">
                <Feedback>
                    <ValidationError />
                </Feedback>
            </TextEdit>
        </Field>
    </Validation>

    <Validation MessageLocalizer="@LH.Localize">
        <Field>
            <FieldLabel>@L["Phone"]</FieldLabel>
            <TextEdit @bind-Text="@OrganizationProfileDto.PhoneNumber" Role="@TextRole.Telephone">
                <Feedback>
                    <ValidationError />
                </Feedback>
            </TextEdit>
        </Field>
    </Validation>

    <Validation MessageLocalizer="@LH.Localize">
        <Field>
            <FieldLabel>@L["Email"]</FieldLabel>
            <TextEdit @bind-Text="@OrganizationProfileDto.Email" Role="@TextRole.Email">
                <Feedback>
                    <ValidationError />
                </Feedback>
            </TextEdit>
        </Field>
    </Validation>

    @foreach (SocialMediaPlatform platform in Enum.GetValues(typeof(SocialMediaPlatform)))
    {
        <Validation MessageLocalizer="@LH.Localize">
            <Field>
                <FieldLabel>@platform</FieldLabel>
                <TextEdit @bind-Text="@GetSocialMediaLink(platform).Url" Role="@TextRole.Url">
                    <Feedback>
                        <ValidationError />
                    </Feedback>
                </TextEdit>
            </Field>
        </Validation>
    }

    <Validation MessageLocalizer="@LH.Localize">
        <Field>
            <FieldLabel>@L["Logo"]</FieldLabel>
            <FilePicker Filter="image/*" Changed="OnLogoChanged" >
                <Feedback>
                    <ValidationError />
                </Feedback>
            </FilePicker>
        </Field>
    </Validation>

    <Field>
        <Button Color="Color.Primary" Type="@ButtonType.Submit" PreventDefaultOnSubmit="true" Clicked="SubmitAsync">
            @L["Save"]
        </Button>
    </Field>
</Validations>