@page "/organization-profile"
@attribute [Authorize]
@using ImpactSpace.Core.Localization
@using ImpactSpace.Core.Organizations
@using Microsoft.AspNetCore.Components
@using Volo.Abp.AspNetCore.Components.Web
@using ImpactSpace.Core.Common
@using Volo.Abp.AspNetCore.Components.Web.Theming.Layout
@inject AbpBlazorMessageLocalizerHelper<CoreResource> LH
@inject IOrganizationProfileAppService OrganizationProfileAppService
@inject IOrganizationAppService OrganizationAppService
@inherits CoreComponentBase

<PageHeader Title="@L["OrganizationProfile"]" 
            BreadcrumbItems="@BreadcrumbItems"
            Toolbar="@Toolbar">
</PageHeader>

<Container>
    <Row>
        <Column ColumnSize="ColumnSize.Is12">
            <Card>
                <CardBody>
                    <Validations @ref="OrganizationProfileValidations" Mode="ValidationMode.Auto" Model="@OrganizationProfileDto" ValidateOnLoad="false">
                        <Row>
                            <Column ColumnSize="ColumnSize.Is12">
                                <Validation MessageLocalizer="@LH.Localize">
                                    <Field>
                                        <FieldLabel>@L["MissionStatement"]</FieldLabel>
                                        <MemoEdit @bind-Text="@OrganizationProfileDto.MissionStatement" Rows="5">
                                            <Feedback>
                                                <ValidationError />
                                            </Feedback>
                                        </MemoEdit>
                                    </Field>
                                </Validation>
                            </Column>
                        </Row>
                    <Row>
                        <Column ColumnSize="ColumnSize.Is4">
                            <h5>@L["ContactInfo"]</h5>
                            <Validation MessageLocalizer="@LH.Localize">
                                <Field>
                                    <FieldLabel>@L["Website"]</FieldLabel>
                                    <TextEdit @bind-Text="@OrganizationProfileDto.Website" Role="@TextRole.Url">
                                        <Feedback>
                                            <ValidationError/>
                                        </Feedback>
                                    </TextEdit>
                                </Field>
                            </Validation>
                            <Validation MessageLocalizer="@LH.Localize">
                                <Field>
                                    <FieldLabel>@L["Phone"]</FieldLabel>
                                    <TextEdit @bind-Text="@OrganizationProfileDto.PhoneNumber" Role="@TextRole.Telephone">
                                        <Feedback>
                                            <ValidationError/>
                                        </Feedback>
                                    </TextEdit>
                                </Field>
                            </Validation>
                            <Validation MessageLocalizer="@LH.Localize">
                                <Field>
                                    <FieldLabel>@L["Email"]</FieldLabel>
                                    <TextEdit @bind-Text="@OrganizationProfileDto.Email" Role="@TextRole.Email">
                                        <Feedback>
                                            <ValidationError/>
                                        </Feedback>
                                    </TextEdit>
                                </Field>
                            </Validation>
                        </Column>
                        <Column ColumnSize="ColumnSize.Is8">
                            <h5>@L["SocialMediaLinks"]</h5>
                            @foreach (SocialMediaPlatform platform in Enum.GetValues(typeof(SocialMediaPlatform)))
                            {
                                <Validation MessageLocalizer="@LH.Localize">
                                    <Field>
                                        <FieldLabel>@platform</FieldLabel>
                                        <TextEdit @bind-Text="@GetSocialMediaLink(platform).Url" Role="@TextRole.Url">
                                            <Feedback>
                                                <ValidationError />
                                            </Feedback>
                                        </TextEdit>
                                    </Field>
                                </Validation>
                            }
                        </Column>
                    </Row>
                        <Row>
                            <Column ColumnSize="ColumnSize.Is12">
                                <Field>
                                    <FieldLabel>@L["Logo"]</FieldLabel>
                                    <FileEdit Filter="image/*" Changed="OnLogoChanged" />
                                </Field>
                            </Column>
                        </Row>
                        <Row>
                            <Column ColumnSize="ColumnSize.Is4">
                                <Field>
                                    <Button Color="Color.Primary" Type="@ButtonType.Submit" PreventDefaultOnSubmit="true" Clicked="SubmitAsync">
                                        @L["Save"]
                                    </Button>
                                </Field>
                            </Column>
                        </Row>
                    </Validations>
                </CardBody>
            </Card>
        </Column>
    </Row>
</Container>