@page "/skills"
@using ImpactSpace.Core.Skills
@using ImpactSpace.Core.Localization
@using Volo.Abp.AspNetCore.Components.Web
@inherits CoreComponentBase
@inject ISkillAppService SkillAppService
@inject ISkillGroupAppService SkillGroupAppService
@inject AbpBlazorMessageLocalizerHelper<CoreResource> LH

<Card>
    <CardHeader>
        <Row Class="justify-content-between">
            <Column ColumnSize="ColumnSize.IsAuto">
                <h2>@L["Skills"]</h2>
            </Column>
            <Column ColumnSize="ColumnSize.IsAuto">
                @if (CanCreateSkill)
                {
                    <Button Color="Color.Primary"
                            Clicked="OpenCreateSkillModal">
                        @L["NewSkill"]
                    </Button>
                }
            </Column>
        </Row>
        <Row>
            <Column ColumnSize="ColumnSize.IsHalf">
                <TextEdit Text="@FilterText" TextChanged="@OnFilterTextChanged" Placeholder="@L["Search"]"/>
            </Column>
            <Column ColumnSize="ColumnSize.IsHalf">
                <Select TValue="Guid?" SelectedValue="@SelectedSkillGroupId" SelectedValueChanged="@OnSkillGroupFilterChanged">
                    <SelectItem TValue="Guid?" Value="null"></SelectItem>
                    @foreach (var skillGroup in SkillGroupList)
                    {
                        <SelectItem TValue="Guid?" Value="@skillGroup.Id">@skillGroup.Name</SelectItem>
                    }
                </Select>
            </Column>
        </Row>
    </CardHeader>
    <CardBody>
        <DataGrid TItem="SkillDto"
                  Data="SkillList"
                  ReadData="OnDataGridReadAsync"
                  TotalItems="TotalCount"
                  ShowPager="true"
                  PageSize="PageSize">
            <DataGridColumns>
                <DataGridColumn Width="150px"
                                TItem="SkillDto"
                                Field="@nameof(SkillDto.Id)"
                                Sortable="false"
                                Caption="@L["Actions"]">
                    <DisplayTemplate>
                        <Dropdown>
                            <DropdownToggle Color="Color.Primary">
                                @L["Actions"]
                            </DropdownToggle>
                            <DropdownMenu>
                                @if (CanEditSkill)
                                {
                                    <DropdownItem Clicked="() => OpenEditSkillModal(context)">
                                        @L["Edit"]
                                    </DropdownItem>
                                }
                                @if (CanDeleteSkill)
                                {
                                    <DropdownItem Clicked="() => DeleteSkillAsync(context)">
                                        @L["Delete"]
                                    </DropdownItem>
                                }
                            </DropdownMenu>
                        </Dropdown>
                    </DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn TItem="SkillDto"
                                Width="400px"
                                Field="@nameof(SkillDto.Name)"
                                Caption="@L["Name"]">
                </DataGridColumn>
                <DataGridColumn TItem="SkillDto"
                                Field="@nameof(SkillDto.SkillGroupId)"
                                Sortable="false"
                                Caption="@L["SkillGroup"]">
                    <DisplayTemplate>
                        @SkillGroupList.FirstOrDefault(sg => sg.Id == context.SkillGroupId)?.Name
                    </DisplayTemplate>
                </DataGridColumn>
            </DataGridColumns>
        </DataGrid>
    </CardBody>
</Card>

<Modal @ref="CreateSkillModal">
    <ModalBackdrop/>
    <ModalContent IsCentered="true">
        <Form>
            <ModalHeader>
                <ModalTitle>@L["NewSkillGroup"]</ModalTitle>
                <CloseButton Clicked="CloseCreateSkillModal"/>
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@CreateValidationsRef" Model="@NewSkill" ValidateOnLoad="false">
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Name"]</FieldLabel>
                            <TextEdit @bind-Text="@NewSkill.Name">
                                <Feedback>
                                    <ValidationError/>
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                    <Field>
                        <FieldLabel>@L["SkillGroup"]</FieldLabel>
                        <Select TValue="Guid" @bind-SelectedValue="@NewSkill.SkillGroupId">
                            @foreach (var skillGroup in SkillGroupList)
                            {
                                <SelectItem TValue="Guid" Value="@skillGroup.Id">
                                    @skillGroup.Name
                                </SelectItem>
                            }
                        </Select>
                    </Field>
                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseCreateSkillModal">
                    @L["Cancel"]
                </Button>
                <Button Color="Color.Primary"
                        Type="@ButtonType.Submit"
                        PreventDefaultOnSubmit="true"
                        Clicked="CreateSkillAsync">
                    @L["Save"]
                </Button>
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>

<Modal @ref="EditSkillModal">
    <ModalBackdrop/>
    <ModalContent IsCentered="true">
        <Form>
            <ModalHeader>
                <ModalTitle>@EditingSkill.Name</ModalTitle>
                <CloseButton Clicked="CloseEditSkillModal"/>
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@EditValidationsRef" Model="@EditingSkill" ValidateOnLoad="false">
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Name"]</FieldLabel>
                            <TextEdit @bind-Text="@EditingSkill.Name">
                                <Feedback>
                                    <ValidationError/>
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                    <Field>
                        <FieldLabel>@L["SkillGroup"]</FieldLabel>
                        <Select TValue="Guid" @bind-SelectedValue="@EditingSkill.SkillGroupId">
                            @foreach (var skillGroup in SkillGroupList)
                            {
                                <SelectItem TValue="Guid" Value="@skillGroup.Id">
                                    @skillGroup.Name
                                </SelectItem>
                            }
                        </Select>
                    </Field>
                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseEditSkillModal">
                    @L["Cancel"]
                </Button>
                <Button Color="Color.Primary"
                        Type="@ButtonType.Submit"
                        PreventDefaultOnSubmit="true"
                        Clicked="UpdateSkillAsync">
                    @L["Save"]
                </Button>
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>